{% extends 'base.html' %}

{% block title %} Change Password {% endblock %}

{% block body %}

<style>
    .form-container {
        background-color: #2c2f33; 
        border-radius: 10px;
        padding: 30px;
        margin-top: 20px;
        color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 


    }

    .form-label {
        font-weight: bold;
        color: #ffffff;

    }

    .form-control {
        background-color: #40444b;
        color: white;
        border: 1px solid #7289da;

    }

    .form-control:focus {
        background-color: #40444b;
        color: white;
        border-color: #5865f2;
        box-shadow: none;

    }

    .btn-primary {
        background-color: #5865f2;
        border-color: #5865f2;

    }

    .btn-primary:hover {
        background-color: #4752c4;
        border-color: #4752c4;

    }


    
</style>

<div class="col-sm-5 offset-sm-3 form-container">

    <form method="POST">
    
        {{ form.hidden_tag() }}

        <div class="mb-3">
            <label class="form-label">{{ form.current_password.label }}</label>
            {{ form.current_password(class="form-control") }}
        </div>

        <div class="mb-3">
            <label class="form-label">{{ form.new_password.label }}</label>
            {{ form.new_password(class="form-control") }}
        </div>

        <div class="mb-3">
            <label class="form-label">{{ form.confirm_new_password.label }}</label>
            {{ form.confirm_new_password(class="form-control") }}
        </div>

        <div class="d-grid">
            {{ form.change_password(class="btn btn-primary") }}
        </div>
    
    </form>

</div>


{% endblock %}