{% extends 'admin.html' %}

{% block title %} Add Shop Items {% endblock %}


{% block body %}



<div class="category-section">
    <h2>Manage Categories</h2>

    <!-- create cats form -->
    <form id="category-form">
        <label for="category-name">Category Name:</label>
        <input type="text" id="category-name" name="category-name" required>
        <button type="submit">Add Category</button>
    </form>

    <!-- cats table--> 
    <table>
        <thead>
            <tr>
                <th>Category ID</th>
                <th>Category Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="category-table-body">
            <!-- cats will be added dynamically -->
        </tbody>
    </table>
</div>



{% endblock %}