{% extends 'base.html' %}

{% block title %} Orders {% endblock %}

{% block body %}
<div class="container"  style="
background-color: rgba(82, 81, 82, 0.5);
">
    <h1>Your Orders</h1>
    <table class="table">
        <thead>
            <tr style="
            background-color: rgba(255, 255, 255, 0.5);
            ">
                <th>Order ID</th>
                <th>Status</th>
                <th>Payment ID</th>
                <th>Phone Number</th>
                <th>Products</th>
            </tr>
        </thead>
        <tbody style="
        background-color: rgba(255, 255, 255, 0.5);
        ">
            {% for order in orders %}
            <tr>
                <td >{{ order.id }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.payment_id }}</td>
                <td>{{ order.phone_number }}</td>
                <td>
                    <ul>
                        {% for item in order.items %}
                        <li>
                            {{ item.product_name }} - Quantity: {{ item.quantity }} - Price: KES {{ item.price }}
                        </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}