{% extends 'base.html' %} {% block title %} Payment Successful {% endblock %} {%
block body %}
<div
  class="container d-flex justify-content-center align-items-center"
  style="height: max-content; "
>
  <div
    class="text-center"
    style="
      border: 1px solid #d5006d;
      border-radius: 10px;
      padding: 30px;
      background-color: rgba(82, 81, 82, 0.5);
      width: max-content;
    "
  >
    <span
      style="
        background-color: #d5006d;
        color: white;
        padding: 5px 15px;
        border-radius: 20px;
        font-weight: bold;
      "
      >Order Placed</span
    >
    <h2 style="color: #d5006d; margin-top: 10px">Payment Successful</h2>
    <div style="margin-top: 20px">
      <div
        style="
          background-color: #d5006d;
          border-radius: 50%;
          width: 70px;
          height: 70px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
        "
      >
        <span style="font-size: 30px; color: white">&#10003;</span>
      </div>
      <h1>Order Details</h1>
      <p>Order ID: {{ order.id }}</p>
      <p>Status: {{ order.status }}</p>
      <p>Payment ID: {{ order.payment_id }}</p>
      <p>Phone Number: {{ order.phone_number }}</p>
  
      <h2>Products:</h2>
      <ul>
        {% for item in order.items %}
        <li>
          {{ item.product_name }} - Quantity: {{ item.quantity }} - Price: KES {{
          item.price }}
        </li>
        {% endfor %}
      </ul>
  
    </div>
    <p style="margin-top: 20px">Thank you for shopping with us!</p>
    <!-- Confirm Payment Form -->
    <form action="{{ url_for('views.confirm_payment') }}" method="POST">
      <input type="hidden" name="payment_id" value="{{ order.payment_id }}" />
      <button
        type="submit"
        class="btn"
        style="
          background-color: #d5006d;
          color: white;
          border-radius: 20px;
          padding: 10px 30px;
          margin-top: 20px;
        "
      >
        Confirm Payment
      </button>
    </form>
    <a
      href="/website/templates/shop_items.html"
      class="btn btn-pink"
      style="
        background-color: #d5006d;
        color: white;
        border-radius: 20px;
        padding: 10px 30px;
        margin-top: 20px;
      "
      >Continue Shopping</a
    >
    <a
      href="profile.html"
      class="btn btn-outline-danger"
      style="
        border: 2px solid #d5006d;
        color: #d5006d;
        border-radius: 20px;
        padding: 10px 30px;
        margin-top: 20px;
      "
      >Profile</a
    >
  </div>
</div>
{% endblock %}
