{% extends 'base.html' %}

{% block title %}Wishlist{% endblock %}

{% block body %}
  <h1>Your Wishlist</h1>
  <div class="row">
    {% for wishlist_item in wishlist_items %}
      <div class="col" style="background-color: rgba(82, 81, 82, 0.5)">
        <img
          src="{{ wishlist_item.product.product_picture }}"
          alt=""
          style="
            height: 200px;
            width: 250px;
            border-radius: 10px;
            margin-top: 10px;
          "
        />

        <div class="row" style="margin-top: 5px">
          <h6 style="color: white">{{ wishlist_item.product.product_name }}</h6>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col">
            <h5
              style="
                font-weight: 600;
                font-family: 'Times New Roman', Times, serif;
              "
            >
            Ksh {{ wishlist_item.product.current_price }}
            </h5>
            <strike><p style="color: rgb(255, 0, 0)">Ksh {{ wishlist_item.product.previous_price}}</p></strike>
          </div>

          <div class="col">
            <a href="/add-to-cart/{{ wishlist_item.product.id }}">Add to Cart</a>
          </div>
        </div>

        <div class="row">
          <p>{{ wishlist_item.product.in_stock }} Units Left</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}